<p-toolbar
  [style]="{ width: '1200px', maxWidth: 'calc(100vw - 1rem)', marginInline: 'auto', marginBottom: '0.5rem' }"
>
  <ng-template pTemplate="start">
    <h1 class="bc-page-title">Evidence vozidel</h1>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button icon="pi pi-plus" label="Přidat" (onClick)="onAddNewCar()" />
  </ng-template>
</p-toolbar>
<app-car-table />
<p-sidebar
  [visible]="sidebarIsOpen()"
  position="right"
  styleClass="p-sidebar-md"
  [showCloseIcon]="false"
  transitionOptions="250ms cubic-bezier(0, 0, 0.2, 1)"
  (onHide)="onHideSidebar()"
>
  <app-car-detail />
</p-sidebar>
